 /* /* .btn {
    border: 2px double black;
    padding: 5px 20px;
    margin: 5px;
    text-align: center;
} */

 /*
input{
    border: 1px solid black;
    padding: 5px 10px;
}

form {
    border:  2px solid brown;
    align-content: center;
}*/

/* button[disabled] {
    background-color: gray;
}    */